<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/custom-css/standard-component.css">
    <link rel="stylesheet" href="/assets/custom-css/main.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                {{content}}
            </div>
        </div>
    </div>
    <!-- Make sure jQuery is loaded before sgds.js -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- jsDelivr -->
    <script src="https://cdn.jsdelivr.net/npm/sgds-govtech@1.3.12/js/sgds.js"></script>
</body>
</html>